
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
min-height: 1vh;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;

  
}
.App-header header{
  display: flex;
  flex-direction: row;
  align-items: center;
  
  width: 100%;
  justify-content: space-evenly;
  
}
.App-header nav  {
  width: 100%;
  margin-top: 3%; 
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  font-weight: 500;
 
  
}
.App-header nav ul li {
  display: inline;
  list-style-type: none;
padding: 15px;
text-transform: uppercase;



}
.App-header a:hover {
color:#daa37f;
}
.App-header img{
  width: 54px;
  margin-left: 35px;
}

.App-header a{
  color: #707070;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
}


.App-link {
  color: #61dafb;
}

.container_Card{
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.image_container{
  background-image: url('../public/assets/image/tasse.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
}
.image_container_1{
  background-image: url('../public/assets/image/macaron.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
}
.produits_container{
  width: 50%;
display: flex;
flex-wrap: wrap;
height: 100%;
justify-content: space-evenly;}


.card{
  margin-top: 37px;
  width: 22%;
   margin-left: 28px;

}

.card:hover{
  transform: translateY(-10px);
}



.card__img{
  width: 70%;
}

.card__contText{
  width: 100%;
  padding: 5px;
  font-size: 10px;
}

.card__pTitle{
  color: #707070;
  font-size: 17px;
}
.card__title{
  margin-top: -15px
}
.card__price{
  color: #daa37f;
}

.footer {
  display: table;
  width: 100%;
  height: 0px;
  position: bottom;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.footer__half {
    width: 50%;
    display: table-cell;
    padding: 20px;
}

.footer__half-1 {
    background-image: url('https://image.ibb.co/mRGjDm/section_bg_7.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__half-2 {
    background-color: #000;
}

.footer__big-title {
    margin-top: 0;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 30px;
    margin-bottom: 25px;
    color: #fff;
}

.footer__title {
    letter-spacing: 1px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    color: #daa37f;
}

.footer__desc {
    color: #d7d7d7;
    margin-bottom: 25px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
